{% extends 'index/index.html' %}


{% block title %}Заметки{% endblock %}


{% block link %}
    <li><a href="">NOTES</a>
    <li><a href="#2">Два</a>
    <li><a href="#3">Три</a>
    <li><a href="#4">Четыре</a>
    <li><a href="#5">Пять</a>
{% endblock %}


{% block body %}
<h1 class="title">ЗАМЕТКИ</h1>
<p class="context">a sock soc ksockfjhfjhfjhvjhvj hvjhvjhvjhvkljfklyjf ljhvkufljhljhvljhluljhvjhsocksocksocks ocksocksocksocksocksgyjgjgyjgmokcsok csokcsokcskcsocksocksocskcoskcoskcoskcoskcskc</p>
{% endblock %}