{% extends 'index/index.html' %}

{% block title %}{{ title }}{% endblock %}

{% block link %}
    <li><a href="{% url 'index' %}">Главная</a>
    <li><a href="">Заметки</a>
    <li><a href="#3">Три</a>
    <li><a href="#4">Четыре</a>
    <li><a href="/admin/">admin</a>
{% endblock %}

{% block body %}
    <h1 class="title">{{ title }}</h1>
    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.contents }}<br>
            {{ form.datatime }}<br>
            <button type="submit">Добавить заметку</button>
        </form>
    </div>
{% endblock %}